.container-favs{
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 10px;

}

.no-fav-message a{
    color: rgb(92, 92, 209);
    position: fixed;
    right: 0;
    top: 50%;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}