.profile-container{
    flex: auto ;
    background-color: #fafafa;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image{
    width: 112px;
    height: 112px;
    border-radius: 100px;
    background-color: black;
    margin-top: 16px;

}

.profile-details{
    display: flex;
    max-width: 90%;
    width: 200px;
    text-align: center;
    gap: 1rem;
    flex-direction: column;
}

.profile-details p {
    font-size: 14px;
    color: #434343;
    margin-top: 8px;
}

.modal-loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}
