.mainSignAnimal {
    width: 100%;
    box-sizing: border-box; /* Inclui o padding na largura total */
}

.titlesSignAnimal {
    padding: 0 16px; /* Adiciona padding nas laterais para evitar estouros */
    font-size: 16px;
    margin-top: 20px;
    color: #f7a800;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: 0; /* Removido para centralizar o conteúdo dentro do container */
}

.containerBotao {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 8px;
    padding: 0 16px; /* Adiciona padding nas laterais para evitar estouros */
    width: 100%;
}

.photo-upload-container {
    margin-top: 16px;
    display: flex;
    width: 100%;
    height: 256px; /* Aumenta o tamanho do container para um quadrado maior */
    justify-content: center;
    align-items: center;
}

.photo-upload-button {
    width: 100%; /* Ajusta para 100% dentro do container */
    max-width: 400px; /* Aumenta a largura máxima */
    height: 100%;
    max-height: 400px; /* Aumenta a altura máxima */
    background-color: #c5caca;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
}

.photo-upload-button:hover {
    background-color: #e0e1e1;
}

.icon-container {
    width: 24px;
    height: 24px;
    margin-bottom: 8px;
}

.upload-text {
    font-size: 14pt;
    color: #757575;
    text-align: center; /* Centraliza o texto */
}

.radiosInfo {
    padding: 0 16px; /* Adiciona padding nas laterais para evitar estouros */
    width: 100%;
}

.image-container {
    width: 100%;
    max-width: 400px; /* Aumenta a largura máxima */
    height: 100%;
    max-height: 400px; /* Aumenta a altura máxima */
    margin-top: 8px;
    border: 1px solid #e0e1e1;
    border-radius: 8px;
}

.uploaded-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem cubra o quadrado sem explodir */
}

.inputsinfo {
    padding: 0 16px; /* Adiciona padding nas laterais para evitar estouros */
    margin-top: 25px;
    width: 100%;
}

.inputsinfo p {
    font-size: 16px;
    color: #f7a800;
    margin-left: 0; /* Removido para centralizar o conteúdo */
    text-align: left; /* Para garantir o alinhamento do texto */
}

.inputsinfo .signField {
    margin-top: 10px;
    width: 100%; /* Para ocupar a largura total do container */
    text-align: center; /* Centraliza o botão dentro do container */
}
